<h1>New Message</h1>

<%= render 'form', message: @message %>

<% @messages.each do |message| %>
<p>
<%= message.user.email %>:<%= message.tweet %>
</p>
<% end %>



<%= link_to 'Back', messages_path %>
